summary:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.h3_markdown {
  font-size: 1.2rem;
}

.h2_markdown {
  font-size: 1.5rem;
}

.h1_markdown {
  font-size: 2rem;
}
