body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #fff;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ef5350;
  text-decoration: none;
  cursor: pointer;
}

.navbar-nav {
  margin-left: auto;
}

@media (max-width: 576px) {
  .navbar-nav {
    margin: auto;
  }
}

a.nav-link:hover {
	color: #ef5350 !important;
	text-decoration: none;
	cursor: pointer;
}

.padding-on-md {
	padding-top: 0;
}

@media (max-width: 992px) {
	.padding-on-md {
		padding-top: 1rem;
	}
  }

.card {
  margin-bottom: 1rem;
}

.white {
  color: white;
}

.padding {
  padding-top: 5rem;
}

.padding-top {
  padding-top: 64px;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.socials {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.box {
  display: block;
  height: 12rem;
  margin-top: 1rem;
}

.text {
  font-size: 1rem;
}

.highlight-red {
  color: #ef5350;
}
.highlight-orange {
  color: rgba(253, 149, 90, 0.8);
}
.highlight-pink {
  color: blueviolet;
}
.highlight-blue {
  color: blue;
}

.carousel {
  width: 100%;
  font-size: 4.5rem;
  line-height: 5rem;
  height: 5rem;
  color: #fff;
}
.carousel .pre {
  position: absolute;
}
.carousel .change_outer {
  bottom: 0;
  height: 5rem;
  overflow: hidden;
}
.carousel .change_outer .change_inner {
  animation: rotate 8s ease-in-out infinite;
}

#typewriter:after {
  content: "|";
  animation: blink 500ms linear infinite alternate;
}

@keyframes rotate {
  0%,
  20% {
    transform: translateY(0);
  }
  25%,
  45% {
    transform: translateY(-5.85rem);
  }
  50%,
  70% {
    transform: translateY(-11.75rem);
  }
  75%,
  95% {
    transform: translateY(-17.6rem);
  }
  100% {
    transform: translateY(-23.5rem);
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 576px) {
  .text {
    font-size: 1rem;
  }

  .box {
    display: block;
    height: 12rem;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .text {
    font-size: 2rem;
  }

  .box {
    display: block;
    height: 22rem;
    margin-top: 0rem;
  }
}

@media (min-width: 992px) {
  .text {
    font-size: 2rem;
  }

  .box {
    display: block;
    height: 22rem;
    margin-top: 0rem;
  }
}

@media (min-width: 1200px) {
  .text {
    font-size: 2rem;
  }

  .box {
    display: block;
    height: 22rem;
    margin-top: 0rem;
  }
}

.timeline {
  border-left: 3px solid #ef5350;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  /* background: rgba(0, 21, 247, 0.09); */
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 40%;
  /* background-color: #121212; */
}

@media (max-width: 767px) {
  .timeline {
    max-width: 98%;
    padding: 25px;
  }
}

.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  border-bottom: 1px dashed #e8ebf1;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
    padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px #ef5350;
  box-shadow: 0 0 0 3px #ef5350;
  left: -55.8px;
  background: #121212;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  .timeline .event:after {
    left: -31.8px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #ef5350;
}

.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}

.flex-col-2 {
  width: 100%;
  height: auto;
  columns: 2;
  /* column-gap:  10px;
    margin-bottom: 12px; */
}

@media (max-width: 768px) {
  .flex-col-2 {
    width: 100%;
    height: auto;
    columns: 1;
    /* column-gap:  10px;
    margin-bottom: 12px; */
  }
}

.flex-card {
  width: 100%;
  /* margin: 0 0 20px; */
  overflow: hidden;
  break-inside: avoid;
  padding: 0;
}
