:root {
  --type-tom: 0;
  --type-developer: -5.85rem;
  --type-consultant: -11.75rem;
  --type-coder: -17.6rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-display: swap;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #ef5350 !important;
  cursor: pointer;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

.navbar {
  background-color: rgba(248, 249, 250, 0.7);
  backdrop-filter: blur(5px);
}

.navbar-nav {
  margin-left: auto;
}

@media (max-width: 576px) {
  .navbar-nav {
    margin: auto;
  }
}

a.nav-link:hover {
  color: #ef5350 !important;
  cursor: pointer;
}

.center {
  text-align: center;
}

.padding-on-md {
  padding-top: 0;
}

@media (max-width: 419px) {
  .carousel .change_outer .change_inner {
    --type-developer: -5rem;
    --type-consultant: -10rem;
    --type-coder: -15rem;
  }

  .carousel .change_outer .change_inner h1 {
    font-size: 3.7rem;
  }
}

@media (max-width: 992px) {
  .padding-on-md {
    padding-top: 1rem;
  }
}

.card {
  margin-bottom: 1rem;
  background-color: #f8f9fa;
}

.padding {
  padding-top: 5rem;
}

.padding-top {
  padding-top: 64px;
}

.footer,
.socials {
  padding: 1rem 0;
}

.box {
  display: block;
  height: 12rem;
  margin-top: 1rem;
}

.text {
  font-size: 1rem;
}

.carousel {
  width: 100%;
  font-size: 4.5rem;
  line-height: 5rem;
  height: 5rem;
}

.carousel .change_outer {
  bottom: 0;
  height: 5rem;
  overflow: hidden;
}

.carousel .change_outer .change_inner {
  animation: rotate 8s ease-in-out infinite;
}

.carousel .change_outer .change_inner .element {
  font-weight: bold;
}

#typewriter:after {
  content: '|';
  animation: blink 500ms linear infinite alternate;
}

@keyframes rotate {
  0%,
  20% {
    transform: translateY(0);
  }
  25%,
  45% {
    transform: translateY(var(--type-developer));
  }
  50%,
  70% {
    transform: translateY(var(--type-consultant));
  }
  75%,
  95% {
    transform: translateY(var(--type-coder));
  }
  100% {
    transform: translateY(-23.5rem);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 576px) {
  .text {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .text {
    font-size: 2rem;
  }

  .box {
    height: 22rem;
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .text {
    font-size: 2rem;
  }

  .box {
    height: 22rem;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .text {
    font-size: 2rem;
  }

  .box {
    height: 22rem;
    margin-top: 0;
  }
}

.timeline {
  border-left: 3px solid #ef5350;
  border-radius: 4px;
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 40%;
}

@media (max-width: 767px) {
  .timeline {
    max-width: 98%;
    padding: 25px;
  }
}

.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  border-bottom: 1px solid #e8ebf1;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
    padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before {
  position: absolute;
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline .event:before {
    left: 0;
    text-align: left;
  }
}

.timeline .event:after {
  position: absolute;
  left: -55.8px;
  background: white;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: '';
  top: 5px;
  box-shadow: 0 0 0 3px #ef5350;
}

@media (max-width: 767px) {
  .timeline .event:after {
    left: -31.8px;
  }
}

.flex-col-2 {
  width: 100%;
  height: auto;
  columns: 2;
}

.flex-card {
  width: 100%;
  overflow: hidden;
  break-inside: avoid;
  padding: 0;
}

.flex-card:hover {
  transform: scale(0.98);
  transition: transform 0.5s;
}

.card-text {
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #22272e;
    color: #fff;
  }

  a {
    color: #fff;
  }

  .navbar {
    background-color: rgba(51, 58, 66, 0.7);
  }

  .timeline .event:after {
    background: #202124;
  }

  .card {
    margin-bottom: 1rem;
    background-color: #333a43;
  }

  .card-text {
    color: #b0b3b8;
  }

  .card-title {
    color: white;
  }
  .card-subtitle {
    color: white !important;
  }

  .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
  }

  .text-muted {
    color: #b0b3b8 !important; /* Light grey */
  }
}

.highlight-red {
  color: #ef5350;
}

.highlight-orange {
  color: rgba(253, 149, 90, 0.8);
}

.highlight-pink {
  color: blueviolet;
}

.highlight-blue {
  color: #6ac4ff;
}
