body {
  /* font-family: 'Courier New', Courier, monospace; */
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #fff;
}

.card {
	margin-bottom: 1rem;
}

.white {
	color: white
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover 
{
   color:#EF5350; 
   text-decoration:none; 
   cursor:pointer;  
}

h1 {
 font-size: 9vh;
}

h2 {
	font-size: 7vh;
}

.padding {
	padding-top: 10vh;
}

.carousel {
	width: 100%;
	font-size: 9vh;
	line-height: 10vh;
	height: 10vh;
	color: #fff;
}
.carousel .pre {
	position: absolute;
}
.carousel .change_outer {
	bottom: 0;
	height: 10vh;
	overflow: hidden;
}
.carousel .change_outer .change_inner {
	animation: rotate 8s ease-in-out infinite;
}

@keyframes rotate {
	0%, 20% {
		transform: translateY(0);
   }
	25%, 45% {
		transform: translateY(-11.7vh);
   }
	50%, 70% {
		transform: translateY(-23.5vh);
   }
	75%, 95% {
		transform: translateY(-35.2vh);
   }
	100% {
		transform: translateY(-47vh);
   }
}

.highlight-red {
	color: #EF5350; 
  }
  .highlight-orange {
	color: rgba(253, 149, 90, 0.8);
  }
  .highlight-pink {
	color: blueviolet;
  }
  .highlight-blue {
	color: blue;
  }

  #typewriter:after {
	content: "|";
	animation: blink 500ms linear infinite alternate;
  }
  
  @-webkit-keyframes blink {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  @-moz-keyframes blink {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes blink {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

  .box{
    display:block;
    height:12rem;
	margin-top: 1rem;
    }

  .text {
	font-size: 1rem;
}


  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) { 
	.text {
		font-size: 1rem;
	}

	.box{
		display:block;
		height:12rem;
		margin-top: 1rem;
		}

  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
	.text {
		font-size: 2rem;
	}

	.box{
		display:block;
		height:22rem;
		margin-top: 0rem;
		}

  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 

	.text {
		font-size: 2rem;
	}

	.box{
		display:block;
		height:22rem;
		margin-top: 0rem;
		}

   }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { 

	.text {
		font-size: 2rem;
	}

	.box{
		display:block;
		height:22rem;
		margin-top: 0rem;
		}

   }


.footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.socials {
	padding-top: 1rem;
	padding-bottom: 1rem;
}