body {
  /* font-family: 'Courier New', Courier, monospace; */
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover 
{
   color:#EF5350; 
   text-decoration:none; 
   cursor:pointer;  
}

h1 {
 font-size: 9vh;
}


.padding {
	padding-top: 10vh;
}
.carousel {
	position: relative;
	width: 100%;
	font-size: 9vh;
	line-height: 10vh;
	height: 10vh;
	color: #fff;
	font-weight: bold;
}
.carousel .pre {
	position: absolute;
	top: 0;
}
.carousel .change_outer {
	top: 0;
	height: 10vh;
	overflow: hidden;
}
.carousel .change_outer .change_inner {
	position: relative;
	animation: rotate 8s ease-in-out infinite;
}
.carousel .change_outer .element {
	display: block;
	/* font-weight: 700; */
}
@keyframes rotate {
	0%, 20% {
		transform: translateY(0);
   }
	25%, 45% {
		transform: translateY(-10vh);
   }
	50%, 70% {
		transform: translateY(-20vh);
   }
	75%, 95% {
		transform: translateY(-30vh);
   }
	100% {
		transform: translateY(-40vh);
   }
}





.highlight-red {
	color: #EF5350; 
  }
  .highlight-orange {
	color: rgba(253, 149, 90, 0.8);
  }
  .highlight-pink {
	color: pink;
  }

  

  
  /* #typewriter {
	font-size: 2em;
	margin: 0;
  } */
  #typewriter:after {
	content: "|";
	animation: blink 500ms linear infinite alternate;
  }
  
  @-webkit-keyframes blink {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  @-moz-keyframes blink {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes blink {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }