steps:
- uses: actions/first-interaction@v1
  with:
    repo-token: ${{ secrets.GITHUB_TOKEN }}
    issue-message: '## Thanks for opening your first issue.'
    pr-message: '## THanks for opening your first pull request.'
